{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}统计工时用的你敢信{% endblock %}

{% block content %}
<div class="page-header">
    <h2>{% if name %}学号：{{ id2 }}&nbsp;姓名：{{ name }}{% else %}你还没有登陆，快登陆{% endif %}</h2>
</div>
    <div>

        {% if name %}
            <a href="/logout"><button class="btn btn-default btn-lg">退出账号</button></a>
            <a href="/index"><button class="btn btn-default btn-lg">返回主页</button></a>
        {% else %}
            <a href="/login"><button class="btn btn-default btn-lg">登陆</button></a>
        {% endif %}
        {% if form %}
            {{ wtf.quick_form(form) }}
        {% endif %}

    </div>


    <script type="text/javascript">
    ;(function($){
	$.fn.datetimepicker.dates['zh-CN'] = {
			days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
			daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
			daysMin:  ["日", "一", "二", "三", "四", "五", "六", "日"],
			months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
			monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
			today: "今天",
			suffix: [],
			meridiem: ["上午", "下午"]
	};
}(jQuery));



    $('#date').datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
    </script>

{% endblock %}